<div ng-include="template.header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>Área do Cliente</li>
                <ui id="publishDate" class="pull-right .hidden-800"><small>| Development Environment</small></ui> 
                <ui id="projectVersion" class="pull-right .hidden-800"><small>Version: 0.0.0.1-SNAPSHOT |</small></ui>                                       
            </ol>  
        </div>
    </div>            
</div> 
<div ng-include="template.left"></div>