<div ng-include="template.header"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a ng-href="#/workspace_customer">Área do Cliente</a></li>
                <li>Usuários</li>
                <ui id="publishDate" class="pull-right .hidden-800"><small>| Development Environment</small></ui> 
                <ui id="projectVersion" class="pull-right .hidden-800"><small>Version: 0.0.0.1-SNAPSHOT |</small></ui>                                       
            </ol>  
        </div>
    </div>            
</div>

<div ng-include="template.left"></div>

<div class="col-md-10">                    
    <div class="row-fluid">
        <div class="col-md-9">                            
            <h2><b>Usuários</b></h2>                            
        </div>
        <div class="col-md-3" style="padding-top: 19px;">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Ações
                    <span class="caret"></span>
                </button>
                <ui class="dropdown-menu" aria-labelledby="dropdownActions"> 
                    <li class="dropdown-header"><b>Usuário</b></li>
                    <li><a ng-href="#/workspace_users_input"><i class="glyphicon glyphicon-plus"></i> Novo</a></li>
                    <!--<li><a ng-href="#"><i class="glyphicon glyphicon-trash"></i> Inativar</a></li>  -->
                </ui>                                
            </div>                            
        </div>                     
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
            <input ng-model="filterUser" type="search" class="search-query form-control" placeholder="Filtrar">
            <div class="form-inline">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div> 
    <div class="row-fluid">
        <div class="col-md-12">
            <div  ng-show="alertMessage" class="form-group">
                <div class="col-md-12">
                    <div ng-class="{'alert alert-danger': typeMessage == 'danger', 
                                    'alert alert-success': typeMessage == 'success', 
                                    'alert alert-warning': typeMessage == 'warning'}" role="alert">{{ message }}</div>       
                </div>
            </div>   
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th><input type="checkbox"> </th>
                        <th>Login</th>
                        <th>Nome</th> 
                        <th>E-mail</th>
                       <!-- <th>Papel</th>
                        <th>Cliente</th>    -->
                    </tr>
                    <tr ng-repeat="user in users | filter: filterUser">
                        <td><input type="checkbox"> </td>
                        <td><a ng-href="#/workspace_users/{{user._id}}">{{user.login}}</a></td>
                        <td>{{user.name}}</td>                               
                        <td>{{user.email}}</td>
                        <!--<td>{{user.role}}</td>
                        <td>{{user.client}}</td>-->
                    </tr>                                    
                </tbody>    
            </table>                                             
        </div>
    </div>
</div><!--/col-md-9-->  