<div ng-include="template.header"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a ng-href="#/workspace_owner">Área de Trabalho</a></li>
                <li><a ng-href="#/workspace_services">Ordens de Serviços</a></li>
                <li>Ordem de Serviço</li>
                <ui id="publishDate" class="pull-right .hidden-800"><small>| Development Environment</small></ui> 
                <ui id="projectVersion" class="pull-right .hidden-800"><small>Version: 0.0.0.1-SNAPSHOT |</small></ui>                                      
            </ol>  
        </div>
    </div>            
</div>   


<div ng-include="template.left"></div>

<div class="col-md-10">                    
    <div class="row-fluid">
        <div class="col-md-12">
            <legend>
                <h2><b>Ordem de Serviço</b></h2>                            
            </legend>                            
        </div>                                           
    </div> 
    <div class="row-fluid">
        <div class="col-md-12">
            <form data-ng-submit="saveService()" class="form-horizontal" name="formService"> 
                <div  ng-show="alertMessage" class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6" ng-class="{'alert alert-danger': typeMessage == 'danger', 
                                        'alert alert-success': typeMessage == 'success', 
                                        'alert alert-warning': typeMessage == 'warning'}" role="alert">{{ message }}
                        </div>       
                    </div>    
                </div>
                <div class="col-md-10">
                    <div ng-class="{'has-error': formService.service_order_number.$invalid && !formService.service_order_number.$pristine}" class="form-group">          
                        <label for="service_order_number" class="col-md-1 control-label">O.S.*:</label>
                        <div class="col-md-4">
                            <input ng-model="service.orderNumber" ng-disabled="disableField" type="text" class="form-control" name="service_order_number" id="service_order_number">         
                            <p ng-show="formService.service_order_number.$invalid && !formService.service_order_number.$pristine" class="help-block">Campo obrigatório</p>
                        </div>                    
                    </div>
                </div>
                <div class="col-md-5">                                
                    <div class="form-group">
                        <div class="col-md-10">
                            <legend><h4>Informações do Cliente</h4></legend>
                        </div>
                    </div>
                    <div ng-class="{'has-error': formService.service_customer.$invalid && !formService.service_customer.$pristine }" class="form-group">
                        <label for="service_customer" class="col-md-2 control-label">Cliente*:</label>
                        <div class="col-md-8">
                            <input ng-model="service.customer" ng-disabled="true" type="text" class="form-control" name="service_customer" id="service_customer">
                            <p ng-show="formService.service_customer.$invalid && !formService.service_customer.$pristine" class="help-block">Campo obrigatório</p>
                        </div>
                    </div>  
                    <div ng-class="{'has-error': formService.service_user.$invalid && !formService.service_user.$pristine}" class="form-group">
                        <label for="service_user" class="col-md-2 control-label">Passageiro*:</label>
                        <div class="col-md-8">
                            <input ng-model="service.user" ng-disabled="true" type="text" class="form-control" name="service_user" id="service_user">
                            <p ng-show="formService.service_user.$invalid && !formService.service_user.$pristine" class="help-block">Campo obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">                 
                    <div class="form-group">
                        <div class="col-md-10">
                            <legend><h4>Informações do Atendimento</h4></legend>
                        </div>
                    </div>
                    <div ng-class="{'has-error': formService.service_user_driver.$invalid && !formService.service_user_driver.$pristine}" class="form-group">
                        <label for="service_user_driver" class="col-md-2 control-label">Motorista*:</label>
                        <div class="col-md-8">
                            <input ng-model="service.userDriver" ng-disabled="true" type="text" class="form-control" id="service_user_driver">
                            <p ng-show="formService.service_user_driver.$invalid && !formService.service_user_driver.$pristine" class="help-block">Campo obrigatório</p>
                        </div>
                    </div>                                
                    <div ng-class="{'has-error': formService.service_vehicle.$invalid && !formService.service_vehicle.$pristine}" class="form-group">
                        <label for="service_vehicle" class="col-md-2 control-label">Veículo*:</label>
                        <div class="col-md-8">
                            <input ng-model="service.userDriver" ng-disabled="true" type="text" class="form-control" id="service_vehicle">
                            <p ng-show="formService.service_vehicle.$invalid && !formService.service_vehicle.$pristine" class="help-block">Campo obrigatório</p>
                        </div>
                    </div>   
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-9">
                            <legend><h4>Serviços Prestados</h4></legend>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-class="{'has-error': formService.service_group.$invalid && !formService.service_group.$pristine}">
                            <label for="service_group" class="col-md-2 control-label">Classificação de Viagem*:</label>
                            <div class="col-md-3">
                                <input ng-model="service.group" type="text" class="form-control" id="service_group">
                                <p ng-show="formService.service_group.$invalid && !formService.service_group.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                        <div ng-class="{'has-error': formService.service_value_ref.$invalid && !formService.service_value_ref.$pristine}">
                            <label for="service_value_ref" class="col-md-1 control-label">Valor Ref.*:</label>
                            <div class="col-md-2">
                                <input ng-model="service.valueRef" type="text" class="form-control" id="service_value_ref">
                                <p ng-show="formService.service_value_ref.$invalid && !formService.service_value_ref.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>
                    <div class="form-group">
                        <div ng-class="{'has-error': formService.service_quatity_hours.$invalid && !formService.service_quatity_hours.$pristine}">
                            <label for="service_quatity_hours" class="col-md-4 control-label">Quantidade Excedida (Horas)*:</label>
                            <div class="col-md-1">
                                <input ng-model="service.quantityHours" type="text" class="form-control" id="service_quatity_hours">
                                <p ng-show="formService.service_quatity_hours.$invalid && !formService.service_quatity_hours.$pristine" class="help-block">Campo obrigatório</p>
                            </div>                        
                        </div>  
                        <div ng-class="{'has-error': formService.service_value_ext.$invalid && !formService.service_value_ext.$pristine}">
                            <label for="service_value_ext" class="col-md-1 control-label">Valor (R$)*:</label>
                            <div class="col-md-2">
                                <input ng-model="service.valueExt" type="text" class="form-control" id="service_value_ext">
                                <p ng-show="formService.service_value_ext.$invalid && !formService.service_value_ext.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>    
                    <div class="form-group">
                        <div ng-class="{'has-error': formService.service_quatity_KM.$invalid && !formService.service_quatity_KM.$pristine}">
                            <label for="service_quatity_KM" class="col-md-4 control-label">KM Rodado*:</label>
                            <div class="col-md-1">
                                <input ng-model="service.quantityKM" type="text" class="form-control" id="service_quatity_KM">
                                <p ng-show="formService.service_quatity_KM.$invalid && !formService.service_quatity_KM.$pristine" class="help-block">Campo obrigatório</p>
                            </div>                        
                        </div>  
                        <div ng-class="{'has-error': formService.service_value_KM.$invalid && !formService.service_value_KM.$pristine}">
                            <label for="service_value_KM" class="col-md-1 control-label">Valor (R$)*:</label>
                            <div class="col-md-2">
                                <input ng-model="service.valueKM" type="text" class="form-control" id="service_value_KM">
                                <p ng-show="formService.service_value_KM.$invalid && !formService.service_value_KM.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>                  
                    <div class="form-group">                        
                        <div ng-class="{'has-error': formService.service_subtotal.$invalid && !formService.service_subtotal.$pristine}">
                            <label for="service_subtotal" class="col-md-6 control-label">Subtotal*:</label>
                            <div class="col-md-2">
                                <input ng-model="service.subtotal" ng-disabled="true" type="text" class="form-control" id="service_subtotal">
                                <p ng-show="formService.service_subtotal.$invalid && !formService.service_subtotal.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>                  
                    <div class="form-group">                        
                        <div ng-class="{'has-error': formService.service_discount.$invalid && !formService.service_discount.$pristine}">
                            <label for="service_discount" class="col-md-6 control-label">Desconto:</label>
                            <div class="col-md-2">
                                <input ng-model="service.discount" type="text" class="form-control" id="service_discount">
                                <p ng-show="formService.service_discount.$invalid && !formService.service_discount.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>   
                    <div class="form-group">                        
                        <div ng-class="{'has-error': formService.service_value_receive.$invalid && !formService.service_value_receive.$pristine}">
                            <label for="service_value_receive" class="col-md-6 control-label">Total à Receber*:</label>
                            <div class="col-md-2">
                                <input ng-model="service.valueReceive" ng-disabled="true" type="text" class="form-control" id="service_value_receive">
                                <p ng-show="formService.service_value_receive.$invalid && !formService.service_value_receive.$pristine" class="help-block">Campo obrigatório</p>
                            </div>
                        </div>  
                    </div>                                                                                                              
                    <div class="form-group">
                        <label for="service_others" class="col-md-1 control-label">Outras Despesas:</label>
                        <div class="col-md-7">
                            <textarea ng-model="service.others" class="form-control" rows="10" name="service_others" id="service_others"></textarea>
                        </div>                                                
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-sm-offset-7 col-md-4">
                        <button type="submit" class="btn btn-primary" ng-disabled="formService.$invalid">Salvar</button>                  
                        <a ng-href="#/workspace_services" type="button" class="btn btn-danger">Cancelar</a> 
                        <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Cancelar</button> -->
                    </div>
                </div>                                  
            </form>
        </div>                        
    </div>
</div><!--/col-md-9--> 